<extend name="Base/commonbg"/>

<block name="body">
    <form name="form1" id="form1" action="{:U('register')}" method="post">
    <div class="register">
        <p class="txt">微信昵称：{$username}</p>
        <p class="phone-num clearfix"><span>手机号：</span><input type="tel" name="phone" id="phone" class="input"></p>
        <div class="inputarea clearfix">
            <input type="tel" name="code" id="code" class="msg input" placeholder="短信验证码">
            <input type="text" class="sentcode" onclick="settime(60,'reg')" readonly value="发送验证码">
        </div>
        <p class="fast-entry">已有账号？<a href="{:U('/Mobile/Userinfo/login')}">点此登录</a></p>
    </div>
    <a class="green-btn" href="javascript:void(0)" id="regbutton">注册会员卡</a>
    </form>
</block>
